<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
<h1>Cadastro</h1>

<h3>Consultar cpf</h3>
<form action="{% url 'consultarcep' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="cep" id="" value="{{ request.GET.cep }}" autocomplete="off" placeholder="Digite o CEP">
    <button type="submit">buscar cep</button>
{#    <a href=""></a>#}
</form>


<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cadastrar</button>
</form>
</body>
</html>